@model IEnumerable<ViewModels.MenuVM>

@{
    ViewBag.Title = "Quản lý Menu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    @ViewBag.Title
}
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên món ăn 1
        </th>
        <th>
            Tên món ăn 2
        </th>
        <th>
            Tên món ăn 3
        </th>
        <th>
            Tên món ăn 4
        </th>
        <th>
            Tên món ăn 5
        </th>
        <th>
            Tên món ăn 6
        </th>
        <th>
            Tên món ăn 7
        </th>
        <th>
            Tên món ăn 8
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food2.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food3.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food4.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food5.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food6.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food7.Name)
            </td>
            <td>
                @Common.CommonStatus.StatusDisplay[item.Status]
            </td>
            <td>
                @if (item.Status == Common.CommonStatus.Active)
                {
                    <button type="button" data-id="@item.Id" class="btn btn-dark">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.Id })
                    </button>
                }
                <button type="button" data-id="@item.Id" class="btn btn-dark">
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })
                </button>
            </td>
        </tr>
    }

</table>
