@model IEnumerable<ViewModels.DesignVM>

@{
    ViewBag.Title = "Quản lý giao diện: Banner";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    @ViewBag.Title
}

@Html.ActionLink("Thêm mới", "BannerCreate")

<table class="table">
    <tr>
        <th>Welcome</th>
        <th style="width: 250px">Tiêu đề</th>
        <th style="width: 450px">Nội dung</th>
        <th>Hình ảnh</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Quote</td>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td>
                @if (@item.Documents.FirstOrDefault() != null)
                {
                    <img src="~/Areas/Admin/Libraries/images/@item.Documents.FirstOrDefault().FileName" style="width: 350px; height: auto">
                }
                else
                {
                    <span>Không tìm thấy ảnh</span>
                }
            </td>
            <td>@Common.CommonStatus.StatusDisplay[item.Status]</td>

            <td>
                @if (item.Status != Common.CommonStatus.Active)
                {
                    <button id="btn-banner-add" class="btn btn-primary">Áp dụng</button>
                }
            </td>
        </tr>
    }

</table>

