@model IEnumerable<ViewModels.DesignVM>
@using X.PagedList;
@using X.PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý giao diện: Menu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    @ViewBag.Title
}
<p>
    @Html.ActionLink("Thêm mới", "MenuCreate")
</p>

<table class="table">
    <tr>
        <th>
            Tiêu đề
        </th>
        <th>
            Nội dung
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Common.CommonStatus.StatusDisplay[item.Status]
            </td>
            <td>
                @if (!item.Status)
                {
                    <button data-id="@item.Id" class="btn btn-primary btn-menu-add">Ấp dụng</button>
                }
                else
                {

                }
            </td>
        </tr>
    }
</table>

<nav aria-label="Page navigation">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Menu", new { page }), new PagedListRenderOptions()
    {
           UlElementClasses = new string[] { "pagination pagination-circle" },
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link" }
    })
</nav>
@section scripts{
    <script src="~/Areas/Admin/Libraries/js/interfaceManager.js"></script>
}