@model List<ViewModels.DesignVM>

@{
    ViewBag.Title = "Quản lý giao diện: Service";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    @ViewBag.Title
}

@Html.ActionLink("Thêm mới", "ServiceCreate")

<table class="table">
    <tr>
        <th>Tiêu đề / Mô tả</th>
        <th>Tiêu đề 1 / Mô tả 1</th>
        <th>Tiêu đề 2 / Mô tả 2</th>
        <th>Tiêu đề 3 / Mô tả 3</th>
        <th>Status</th>
    </tr>

    <tr>
        @if (Model.Count != 0)
        {
            <td>
                @Model[0].Title <br />
                @Model[0].Content
            </td>
            <td>
                @Model[1].Title <br />
                @Model[1].Content
            </td>

            <td>
                @Model[2].Title <br />
                @Model[2].Content
            </td>

            <td>
                @Model[3].Title <br />
                @Model[3].Content
            </td>

            <td>Đang được áp dụng</td>
        }
    </tr>
</table>
