@model ViewModels.FoodVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Edit", "Food", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Tên món ăn
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mô tả
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Giá tiền
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="number" step="0.1" name="Price" value="@Model.Price" class="form-control">
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Hình ảnh
            <div class="col-md-10">
                <img src="~/Areas/Admin/Libraries/images/@Model.Image" alt="ảnh món ăn" id="imageDisplay" style="width: 400px; height: 100%">
                <input type="file" name="image" id="image">
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Danh mục món ăn
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FoodCategoryId, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FoodCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" >Sửa</button>
                @Html.ActionLink("Quay lại", "Index")
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="~/Areas/Admin/Libraries/js/food.js"></script>
}